<%= form_with(model: jimotalk, local: true) do |form| %>
  <% if jimotalk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jimotalk.errors.count, "error") %> prohibited this jimotalk from being saved:</h2>

      <ul>
      <% jimotalk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :local_info_id %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :jimotalk_body %>
  </div>

  <div>
    <%= form.label :hyouka %>
    <%= form.number_field :hyouka, id: :jimotalk_hyouka %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
