<%= form_with(model: local_info, local: true) do |form| %>
  <% if local_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(local_info.errors.count, "error") %> prohibited this local_info from being saved:</h2>

      <ul>
      <% local_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :name, id: :local_info_name %>
  </div>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :name, id: :local_info_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :local_info_body %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :local_info_body %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
