
  <ul class="list-inline" align = "left" >
<li><h1><%= image_tag("/uploads/title/20668866_1045676175568382_2083027003_n.jpg", :style => "width: 250px;") %></h1></li>
<li style="font-size: 17px;">滝沢市民やそこに行ったことのある人が知るイチオシを共有します</li>
  </ul>
<div class="col-md-7">

  <% @local_infos.each do |local_info| %>
  <%= link_to(local_info, :style => "text-decoration:none;") do %>
  <ul class="list-inline" align = "left" >
    <li><%= image_tag(local_info.image.to_s, :class => "card-img-show", :style => "width: 100px;display: inline-block;", :alt => "") %></li>
    <li style="font-size: 22px; font-weight: bold;"><%= local_info.name %></li>
  </ul>
  <p><%= local_info.body %></p>
  <% end %>
  <div style="border-bottom: 2px solid #D7D8D8; margin: 3px 0px 6px 0px; border-radius: 5px 5px 5px 5px;"></div>
  <% end %>
</div>

<div class="col-md-5">
  <form class="navbar-form" role="search" style="text-align: right;">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search this site">
    </div>
    <button type="submit" class="btn btn-default": auto;>search</button>
  </form>
    <div style="border-bottom: 5px solid #D7D8D8; margin: 3px 0px 6px 0px; border-radius: 5px 5px 5px 5px; margin-bottom: 30px;"></div>
    <h3 style="font-weight: bold;">おすすめスポット</h3>
<% @local_info_short.each_slice(2) do |local_infos| %>
<!-- 列 -->
<ul class="frex">
  <% local_infos.each do |local_info| %>
  <!-- カード -->
  <%= link_to(local_info, :style => "text-decoration:none;") do %>
  <section class="card" style="width: 180px; ">
    <%= image_tag(local_info.image.to_s, :class => "card-img", :alt => "", :style => "") %>
  </section>
  <strong><%= local_info.name %></strong>
  <% end %>
  <!-- カード -->
  <% end %>
</ul>
<!-- 列 -->
<% end %>
</div>
