
<h1>Local Infos</h1>

<% @local_infos.each_slice(3) do |local_infos| %>
<!-- 列 -->
<ul class="frex">
  <!-- カード -->
  <% local_infos.each do |local_info| %>
  <%= link_to(local_info, :style => "text-decoration:none;") do %>
  <section class="card">
    <%= image_tag(local_info.image, :class => "card-img", :alt => "") %>
    <div class="card-content">

        <h1 class="card-title"><%= local_info.name %></h1>
        <p class="card-text mojiseigenn"><%= local_info.body %></p>
      </div>


  </section>
  <% end %>
  <!-- カード -->
  <% end %>
</ul>
<!-- 列 -->
<% end %>


<%= link_to 'New Local Info', new_local_info_path %>
