<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @local_info.name %>
</p>

<p>
  <strong>User_name:</strong>
  <%= @local_info.user_name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @local_info.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@local_info.image, :class => "card-img-show", :alt => "") %>
</p>

<div>
  <% @jimotalks.each do |jimotalk| %>
  <div>
    <p><%= jimotalk.body %></p>
    <p><%= jimotalk.hyouka %></p>
  </div>
  <% end %>
    <%= render 'jimotalks/form' , jimotalk: @jimotalk %>
</div>


<div class="container">
  <div class="row">
    <% @minnpakus.each do |minnpaku| %>
    <div class="col-md-4">
      <%= minnpaku.name %>
      <%= link_to(minnpaku, :style => "text-decoration:none;") do %>
      <%= image_tag(minnpaku.image, :class => "map-img", :alt => "") %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
