<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @local_info.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @local_info.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@local_info.image, :class => "card-img-show", :alt => "") %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @local_info.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @local_info.longitude %>
</p>

<div>
  <% @jimotalks.each do |jimotalk| %>
  <div>
    <p><%= jimotalk.body %></p>
    <p><%= jimotalk.hyouka %></p>
  </div>
  <% end %>
    <%= render 'jimotalks/form' , jimotalk: @jimotalk %>
</div>
<%= link_to 'Edit', edit_local_info_path(@local_info) %> |
<%= link_to 'Back', local_infos_path %>
