<%= form_with(model: minnpaku, local: true) do |form| %>
  <% if minnpaku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(minnpaku.errors.count, "error") %> prohibited this minnpaku from being saved:</h2>

      <ul>
      <% minnpaku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :minnpaku_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :minnpaku_body %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :minnpaku_image %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_area :price, id: :minnpaku_price %>
  </div>

  <div class="field">
    <%= form.label :performance %>
    <%= form.text_area :performance, id: :minnpaku_performance %>
  </div>

  <div class="field">
    <%= form.label :smoke %>
    <%= form.text_area :smoke, id: :minnpaku_smoke %>
  </div>

  <div class="field">
    <%= form.label :style %>
    <%= form.text_area :style, id: :minnpaku_style %>
  </div>

  <div class="field">
    <%= form.label :provide %>
    <%= form.text_area :provide, id: :minnpaku_provide %>
  </div>

  <div class="field">
    <%= form.label :please %>
    <%= form.text_area :please, id: :minnpaku_please %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :minnpaku_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :minnpaku_longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
