<p id="notice"><%= notice %></p>

<h1><%= image_tag("/uploads/title/20663551_1045676178901715_51522057_o.jpg", :style => "width: 250px;") %></h1>
<div class="col-md-6">

  <% @minnpakus.each do |minnpaku| %>
  <%= link_to(minnpaku, :style => "text-decoration:none;") do %>
  <ul class="list-inline" align = "left" >
    <li><%= image_tag(minnpaku.image, :class => "card-img-show", :style => "width: 100px;display: inline-block;", :alt => "") %></li>
    <li style="font-size: 22px; font-weight: bold;">【友達募集！！】<%= minnpaku.name %></li>
  </ul>
  <p><%= minnpaku.please %></p>
  <% end %>
  <div style="border-bottom: 2px solid #2C3E50; margin: 3px 0px 6px 0px; border-radius: 5px 5px 5px 5px;"></div>
  <% end %>
</div>

<div class="col-md-6">
<div id="map"></div>
<style type="text/css">
  #map { height:700px; width: 600px; border-radius: 5px;box-shadow: 0 2px 5px #ccc;}
  .leaflet-marker-icon-color-gray  { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
  .leaflet-marker-icon-color-blue  { -webkit-filter: hue-rotate(-270deg); filter: hue-rotate(-9deg); }
</style>
<script type="text/javascript">
    L.Icon.Default.imagePath = "/assets";
    var map = L.map('map').setView([39.778707, 141.108164],11.5);
    var osmUrl = "http://tile.openstreetmap.jp/{z}/{x}/{y}.png";
    var osmAttrib = "Map data &COPY; OpenStreetMap contributors";
    L.tileLayer(osmUrl, {
        attribution: osmAttrib,
        maxZoom: 13,
    }).addTo(map);

</script>
<% @minnpakus.each do |shop| %>
    <script type="text/javascript">
        var popup = L.popup().setContent('<div class="map-title"><%= shop.name %></div><%= image_tag(shop.image,:size => "86×86", :class => "map-img", :alt => "") %><p style="width: 200px;"></p><%= button_to "民泊詳細へ", minnpaku_path(shop.id), :method => :get , :class => "btn btn-info btn-xs" %>');
        var marker = L.marker(
            [<%= shop.latitude %>,<%= shop.longitude %>],
            { name: map.name }
        ).addTo(map).bindPopup(popup);
          L.DomUtil.addClass( marker._icon, "leaflet-marker-icon-color-blue")
    </script>
<% end %>
</div>
