<p id="notice"><%= notice %></p>

<p>
  <strong>Place_Name:</strong>
  <%= @minnpaku.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @minnpaku.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@minnpaku.image, :class => "card-img-show", :alt => "") %>
</p>

<p>
  <strong>Price:</strong>
  <%= @minnpaku.price %>
</p>

<p>
  <strong>Performance:</strong>
  <%= @minnpaku.performance %>
</p>

<p>
  <strong>Smoke:</strong>
  <% if @minnpaku.smoke == true then%>
  喫煙
  <% else %>
  禁煙
  <% end %>
</p>

<p>
  <strong>Style:</strong>
  <%= @minnpaku.style %>
</p>

<p>
  <strong>Provide:</strong>
  <%= @minnpaku.provide %>
</p>

<p>
  <strong>Please:</strong>
  <%= @minnpaku.latitude %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review_ave %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @minnpaku.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @minnpaku.longitude %>
</p>

<% @local_infos.each do |local_info| %>
<%= local_info.name %>
<% end %>

<div>
  <% @reviews.each do |review| %>
    <div>
      <p><%= review.body %></p>
      <p><%= review.hyouka %></p>
    </div>
  <% end %>
    <%= render 'reviews/form' , review: @review%>
</div>

<%= link_to 'Edit', edit_minnpaku_path(@minnpaku) %> |
<%= link_to 'Back', minnpakus_path %>
