<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @minnpaku.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @minnpaku.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@minnpaku.image, :class => "card-img-show", :alt => "") %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @minnpaku.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @minnpaku.longitude %>
</p>

<div>
  <% @reviews.each do |review| %>
    <div>
      <p><%= review.body %></p>
      <p><%= review.hyouka %></p>
    </div>
  <% end %>
    <%= render 'reviews/form' , review: @review%>
</div>

<%= link_to 'Edit', edit_minnpaku_path(@minnpaku) %> |
<%= link_to 'Back', minnpakus_path %>
