<p id="notice"><%= notice %></p>

<p>
  <strong>Minnpaku:</strong>
  <%= @review.minnpaku_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Hyouka:</strong>
  <%= @review.hyouka %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
